<div class="container-90">
    <table>
        <thead>
            <th> ID </th>
            <th> Nombre </th>
            <th>
               Accion
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let tipo of tipos; let i = index"> <!-- 0 1 2 3 4 -->
                <td>{{i + 1}}</td>
                <td>{{tipo.nombre}}</td>
                <td class="actions">
                    <button class="action action-yellow" (click)="obtenerPorId(tipo.id)">Editar</button>
                    <button class="action action-red" (click)="eliminar(tipo.id)" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-90">
    <div class="forms mtb-2r">
        <form class="formulario" [formGroup]="tipoForm" (ngSubmit)="registrar()">       
            <fieldset class="fieldset">
                <legend class="legend">
                    Registra un nuevo tipo
                </legend>
                <div class="campos">
                    <div class="campo">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" formControlName="nombre" placeholder="nombre">
                    </div>
                </div>
                <div class="botones">
                    <button>Enviar</button>
                </div>
            </fieldset>
        </form>
        <div class="actualizar mtb-2r">
            <form class="formulario" (ngSubmit)="actualizar()">       
                <fieldset class="fieldset">
                    <legend class="legend">
                        Actualiza un tipo existente
                    </legend>
                    <div class="campos">
                        <div class="campo">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" placeholder="nuevo nombre" name="nombre"  [(ngModel)]="tipo.nombre">
                        </div>
                    </div>
                    <div class="botones">
                        <button [disabled]="validaTipoParaActualizar()">Actualizar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>