<div class="container-90">
   <div class="card" *ngFor="let platillo of platillos; let i = index">
       <div class="imagen">
           <img src="/assets/platillo-{{i+1}}.jpg" alt="enchiladas">           
       </div>
       <div class="detalles__platillo">
           <div class="descripcion">
                <p>{{platillo.nombre}} ({{platillo.tipo.nombre}})</p>
                <p>Restaurante - {{platillo.restaurante.nombre}}</p>
                <b>Precio - {{platillo.precio}}</b>
                
           </div>
           <div class="boton">
               <button>Ordenar</button>
           </div>
       </div>
   </div>
</div>